/.bundle
/config/database.yml
/vendor/bundle
/log/*
/tmp/*
!/log/.keep
/db/*.sqlite3
/db/*.sqlite3-journal
public/system/**/*
/coverage/
/spec/tmp/*
.sass-cache/
**.orig
.idea
*.swp
config/newrelic.yml
*.tmproj
*.sw?
*.cache
*.log
*.pid
/public/assets
.DS_Store
.ruby-gemset