- content_for :sidebar do
  .list-group.kidanchors
    - resource.journals.each do |journal|
      .list-group-item
        = link_to journal.display_name, :anchor => dom_id(journal)

  - if resource.mentor == current_user || current_user.is_a?(Admin)
    .list-group.kidanchors
      - resource.reviews.each do |review|
        .list-group-item
          = link_to review.display_name, :anchor => dom_id(review)
