- content_for :subnav do
  %li= link_to 'Allgemeine Information', :anchor => 'school'
  - resource.journals_sorted.each do |journal|
    %li= link_to journal.display_name, :anchor => dom_id(journal)
  - resource.reviews_sorted.each do |review|
    %li= link_to review.display_name, :anchor => dom_id(review)

