.list-group
  - journal.comments.each do |comment|
    .list-group-item
      - if show_actions && can?(:update, comment)
        .btn-group.pull-right
          = link_to 'Bearbeiten', edit_kid_journal_comment_path(kid, journal, comment), class: 'btn btn-default'
      %label.col-sm-3.text-right= comment.display_name
      .col-sm-offset-3
        = comment.human_body
