body {
  background-color: #4B7399;
  font-family: verdana,arial,geneva;
  font-size: 11px;
  line-height: 18px;
  color: #333;
  margin: 0;
}

img#bg {
  left: 0;
  min-height: 1503px;
  min-width: 1000px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

th {
  text-align: left;
}

tr:nth-child(even) {
  background: #CCC
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  padding: 0;
  margin: 20px;
}

#header, #content, #nav,
#flash_notice, #flash_error, #flash_alert {
  margin: 0 0 0 240px;
  padding: 10px;
  border: 1px solid #CCC;
  background-color: #FFF;
  margin-bottom: 20px;
}

#header {
}

#nav {
  margin: 0px;
  width: 200px;
  position: fixed;
}

#nav h4 {
  margin-bottom: 0;
}

#nav ul {
}

#nav li.topic {
  margin-top: 10px;
}

#nav ul > li > ul {
  list-style: disc inside;
}

#nav ul > li > form,
#nav ul > li > input {
  margin: 4px 0;
}

#content {
  min-height: 600px;
  border-left: 1px solid #CCC;
}

#footer {
  clear: both;
  margin: 0;
}  

#flash_notice {
  background-color: #CFC;
}

#flash_error, #flash_alert {
  background-color: #FCC;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

#header ul {
  padding-left: 0;
  overflow: hidden;
}

#header ul li {
  display: block;
  float: left;
  padding-right: 1em;
}

#header ul li:last-child {
  float: right;
  padding-right: 0;
}

#nav {
}

.show_for {
  overflow: hidden;
  margin-bottom: 20px;
}

.show_for > .wrapper {
  clear: both;
}

.show_for > .wrapper > .label,
.show_for > .wrapper > .content
{
}

.show_for > .wrapper > .label {
  font-weight: bold;
  float: left;
  width: 15em;
}

.show_for > .wrapper > .content {
  margin-left: 16em;
}
