%table.table.table-striped.table-condensed
  - collection.each do |resource|
    %tr
      %td= link_to resource.display_name, resource
      - if current_user.is_a?(Admin)
        %td
          - if resource.email.present?
            = mail_to resource.email, "<#{resource.email}>"
        %td
          - if resource.todo.present?
            %a.todotoggle{data: { content: todo_content(resource) }}
              = image_tag('task-due.png')
