- if collection.present?
  %table.table.table-striped.table-condensed.table-hover
    %tbody
      - collection.each do |resource|
        %tr
          %td= link_to resource.display_name, resource
          - if current_user.is_a?(Admin)
            %td
              - if resource.email.present?
                = mail_to resource.email, "<#{resource.email}>"
            %td
              -# if resource.todo.present?
                %a.todotoggle.btn.btn-xs{data: { content: resource.human_todo}, href:  edit_resource_path(resource, :anchor => 'todo') }
                  %span.glyphicon.glyphicon-info-sign
                  Pendenz
- else
  %p Kein Eintrag vorhanden
