%h2 Dokumente und Anleitungen

#documents
  %ol
    - @category_tree.each do |category, subcategories|
      - unless category.blank?
        %li
          %h3= category
      %li
        %ol
          - Document.in_category(category).each do |d|
            = render :partial => 'link', :object => d
          - subcategories.each do |subcategory|
            %li
              %h4
                sub
                = subcategory
              %ol
                - Document.in_subcategory(category, subcategory).each do |d|
                  = render :partial => 'link', :object => d

