%h2 Dokumente und Anleitungen
%ul
  - collection.each do |o|
    %li
      = link_to o.title, o.attachment.url
      - if can?(:destroy, o)
        [
        = link_to "Löschen", o, :method => :delete
        ]
