- content_for :contextual_links do
  = contextual_links do
    - if can?(:edit_schedules, @mentor)
      = contextual_link_to :edit_schedules, edit_schedules_mentor_path(@mentor)

= boot_page_title

= render "show"
