- content_for :contextual_links do
  = contextual_links do
    - if can?(:edit_schedules, resource)
      = contextual_link_to :edit_schedules, edit_schedules_mentor_path(resource)

= boot_page_title

= render "show"
