- if @mentor_matching.message.present?
  %h2 Anfrage
  .row
    .col-md-8
      = show_for @mentor_matching do |show|
        %strong= show.attribute :message

%h2= 'Von ' + @mentor_matching.mentor.display_name
.row
  .col-md-8
    = render "mentors/details", mentor: @mentor_matching.mentor

