= contextual_links
= boot_page_title

%table.table.table-striped.table-condensed.table-hover
  %thead
    %tr
      %th Name
  %tbody
    - collection.each do |school|
      %tr
        %td= link_to school.name, school_path(school)
