%h2 Schulhäuser

%table.table.table-striped.table-condensed
  - collection.each do |school|
    %tr
      %td= link_to school.name, school_path(school)

- if collection.empty?
  Zur Zeit sind keine Schulen vorhanden.
