/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 * = require calendrical
*/

$font-size-base:             12px;
$line-height-base:           1.4;
$grid-gutter-width:          20px;
$navbar-height:              40px;

$screen-xs:                  1px;
$screen-xs-min:              $screen-xs;
$screen-phone:               $screen-xs-min;

$screen-sm:                  2px;
$screen-sm-min:              $screen-sm;
$screen-tablet:              $screen-sm-min;

$screen-md:                  3px;
$screen-md-min:              $screen-md;
$screen-desktop:             $screen-md-min;

$screen-lg:                  9999px;
$screen-lg-min:              $screen-lg;
$screen-lg-desktop:          $screen-lg-min;

$navbar-default-border: #fff;
$navbar-default-bg: #fff;
$grid-float-breakpoint: 900px;

@import 'bootstrap';

body { }

#teaser {
 height: 90px; // change alos offset-top of #nav when changing this!
 img {
   max-height: 80px;
 }
 .logo {
   padding: 15px 0;
 }
}

#nav {
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  padding-top: $line-height-computed;
}
#nav.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

// Fix show_form breaking for long labels
.show_for .wrapper {
  clear: both;
}

// Fix spacing for contextual buttons on page headers
.ctx-page-header {
  margin-top: 14px;
}

.page-header {
  margin-top: 0;
}

// Fix alignment of text at checkboxes
.checkbox > label > p {
  margin: 3px 0;
}
