/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 * = require calendrical
*/

$font-size-base:             12px;
$line-height-base:           1.4;
$grid-gutter-width:          20px;
$navbar-height:              40px;

$screen-xs:                  1px;
$screen-xs-min:              $screen-xs;
$screen-phone:               $screen-xs-min;

$screen-sm:                  2px;
$screen-sm-min:              $screen-sm;
$screen-tablet:              $screen-sm-min;

$screen-md:                  3px;
$screen-md-min:              $screen-md;
$screen-desktop:             $screen-md-min;

$screen-lg:                  9999px;
$screen-lg-min:              $screen-lg;
$screen-lg-desktop:          $screen-lg-min;

$navbar-default-border: #fff;
$navbar-default-bg: #fff;
$grid-float-breakpoint: 1px;

$header-height: 70px;
$footer-height: 30px;
$sidebar-width: 220px;


@import 'bootstrap';

body { }

#header {
  position: fixed;
  top: 0;
  width: 100%;
  height: $header-height;
  z-index: 2;
  background-color: #fff;
}

#teaser {
  height: $header-height;
  background: white image-url("teaser.jpg");
}

#nav {
  border-bottom: 1px solid #eee;

  ul.nav.navbar-nav li a {
    padding: 10px;
  }

  .navbar-nav.navbar-right:last-child {
    margin: 0;
  }

  > .container {
    padding-top: 15px;
  }

}

.alert {
  position: fixed;
  left: 0;
  right: 0;
  top: 10px;
  width: 960px;
  z-index: 3;
  margin: auto;
  text-align: center;
}


// Position mentor journal date picker
#mentor_journal_date {
  padding-top: 20px;
}

// Set default height for textareas
textarea {
  min-height: 10em;
}

// Fix show_form breaking for long labels
.show_for .wrapper {
  clear: both;
}

.page-header {
  margin-top: 0;
}

// Fix alignment of text at checkboxes
.checkbox {
  margin-bottom: 0px;

  &> label > p {
    margin: 3px 0 0;
  }
}


form.schedule {
  input[type=checkbox], select {
    display: block;
    width: 100%;
  }

  select {
    min-height: 400px;
  }
}

#mentor_selection_tab {
  table {
    margin-top: 20px;
  }

  th, td {
    width: 20%;
    vertical-align: top;
    border-left: 1px solid #CCC;
  }

  th {
    padding: 3px;
  }

  select {
    border: 0;
    padding: 3px;
  }
}

#main {
  margin-top: $header-height + 10px;
  margin-bottom: $footer-height;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $footer-height - 1;
  padding-top: 8px;
  z-index: 2;
  background-color: #fff;
  font-size: 10px;
  border-top: 1px solid #eee;
}

#sidebar-wrapper {
  position: fixed;
  top: $header-height + 10px;
  bottom: $footer-height;
  width: 100%;
  overflow: hidden;

  #sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    width: $sidebar-width;
    overflow: auto;

    .logo {
      margin-bottom: 20px;
    }

  }

}

#documents {
  .panel-heading {
    cursor: pointer;
  }

  .panel-heading:before  {
    content: "▶ "
  }

  .panel-heading.open:before {
    content: '▼ '
  }

  .list-group {
    display: none;

    .panel {
      padding: 0;
      margin: 0;
      border-bottom: 0;
    }
  }

  .list-group.open {
    display: block;
  }
}

.portrait {
  overflow: hidden;
}

