/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 * = require calendrical
 * = require react-select/dist/default
*/

$font-size-base:             12px;
$line-height-base:           1.4;
$grid-gutter-width:          20px;
$navbar-height:              40px;

$screen-xs:                  1px;
$screen-xs-min:              $screen-xs;
$screen-phone:               $screen-xs-min;

$screen-sm:                  2px;
$screen-sm-min:              $screen-sm;
$screen-tablet:              $screen-sm-min;

$screen-md:                  3px;
$screen-md-min:              $screen-md;
$screen-desktop:             $screen-md-min;

$screen-lg:                  9999px;
$screen-lg-min:              $screen-lg;
$screen-lg-desktop:          $screen-lg-min;

$navbar-default-border: #fff;
$navbar-default-bg: #fff;
$grid-float-breakpoint: 1px;

$header-height: 70px;
$footer-height: 30px;
$sidebar-width: 220px;


@import 'bootstrap-sprockets';
@import 'bootstrap';


body, html {
  min-width: 960px;
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  height: $header-height;
  z-index: 2;
  background-color: #fff;
}

#teaser {
  height: $header-height;
  background: white image-url("teaser.jpg");
}

#nav {
  border-bottom: 1px solid #eee;

  ul.nav.navbar-nav li a {
    padding: 10px;
  }

  .navbar-nav.navbar-right:last-child {
    margin: 0;
  }

  > .container {
    padding-top: 15px;
  }

}

.alert {
  position: fixed;
  left: 0;
  right: 0;
  top: 10px;
  width: 960px;
  z-index: 3;
  margin: auto;
  text-align: center;
}


// Position mentor journal date picker
#mentor_journal_date {
  padding-top: 20px;
}

// Set default height for textareas
textarea {
  min-height: 10em;
}

// Fix show_form breaking for long labels
.show_for .wrapper {
  clear: both;
}

.page-header {
  margin-top: 0;
}

// Fix alignment of text at checkboxes
.checkbox {
  input[type=checkbox] {
    margin-top: 2px;
  }
}


form.schedule {
  input[type=checkbox], select {
    display: block;
    width: 100%;
  }

  select {
    min-height: 400px;
  }
}

#mentor_selection_tab {
  table {
    margin-top: 20px;
  }

  th, td {
    width: 20%;
    vertical-align: top;
    border-left: 1px solid #CCC;
  }

  th {
    padding: 3px;
  }

  select {
    border: 0;
    padding: 3px;
  }
}

#main {
  margin-top: $header-height + 10px;
  margin-bottom: $footer-height;
}

#content {
  background-color: white;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $footer-height - 1;
  padding-top: 8px;
  z-index: 2;
  background-color: #fff;
  font-size: 10px;
  border-top: 1px solid #eee;
}

#sidebar-wrapper {
  position: fixed;
  top: $header-height + 10px;
  bottom: $footer-height;
  width: 100%;
  overflow: hidden;

  #sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    width: $sidebar-width;
    overflow: auto;

    .logo {
      margin-bottom: 20px;
      img {
        max-width: 220px;
      }
    }

  }

}

.document-slider {
  .panel-heading {
    cursor: pointer;
  }

  .panel-heading:before  {
    content: "▶ "
  }

  .panel-heading.open:before {
    content: '▼ '
  }

  .list-group {
    display: none;

    .panel {
      padding: 0;
      margin: 0;
      border-bottom: 0;
    }
  }

  .list-group.open {
    display: block;
  }
}

.portrait {
  overflow: hidden;
}




.kit-mentor-schedules {

  $kidMentorSchedulesRowHeight: 40px;
  .timetable {
    width: 100%;
    td {
      height: $kidMentorSchedulesRowHeight;

    }
    .time-cell {
      border-right: 1px solid black;
      width: 20%;
      padding-left: 10px;
      padding-right: 10px;
      position: relative;
    }
    .cell-kid {
      color: #aaa;
      position: absolute;
      left: 5px;
      right: 5px;
      top: 0px;

      height: 100%;
      box-sizing: content-box;
      &.time-available {
        background-color: #eee;
      }
    }
    .cell-kid, .cell-mentor {
      &.time-available {
        border-left-style: solid;
        border-left-width: 1px;
        border-right-style: solid;
        border-right-width: 1px;
        &.time-first {
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          border-top-style: solid;
          border-top-width: 1px;
        }
        &.time-last {
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          border-bottom-style: solid;
          border-bottom-width: 1px;
        }
      }
    }
    .spacer, .cell-mentor {
      display: block;
      box-sizing: border-box;
      float: left;
      height: 100%;
    }
    .kid-available .cell-mentor {
      opacity: 1;
    }
    .cell-mentor {
      opacity: 0.3;

      position: relative;
      height: $kidMentorSchedulesRowHeight;
      overflow: visible;
      cursor: pointer;
      padding: 4px;

      .icon {
        display: none;
        text-align: center;
      }
      &:hover, &:focus {
        outline-offset: 4px;
        outline-style: dashed;
        outline-width: 2px;
        z-index: 10;
        .icon {
          display: block;
        }

      }
      .name-label {
        display: none;
        pointer-events:none;
      }
      &.time-last {
        .name-label {
          display: block;
          transform: rotate(-90deg);
          position: absolute;
          left: 50%;
          bottom: 0px;
          transform-origin: top left;
          margin-left: -8px;
        }
      }

      
    }
  }
}

