body {
  background-color: #FFF;
}

img#bg {
  display: none;
}

#content, #main, .container {
  margin: 0;
  width: 100%;
}

#teaser, #sidebar, #nav, #footer {
  display: none;
}

.btn {
  display: none;
}

.signature {
  width: 45%;
  border-top: 1px solid black;
  float: left;
  margin: 5em 2em 0 0;
}

.portrait {
  display: none;
}

a[href]:after {
  content: "";
}
