body {
  background-color: #FFF;
}

img#bg {
  display: none;
}

#container {
  margin: 0;
}

#header {
  display: none;
}

#nav {
  display: none;
}

#content {
  min-height: 0;
  border: 0;
  margin: 0;
  padding: 0;
}

#footer {
  display: none;
}  

.printonly {
  display: block;
}

.signature {
  width: 45%;
  border-top: 1px solid black;
  float: left;
  margin: 5em 2em 0 0;
}
