body {
  background-image: image-url('gradient.png');
  background-repeat: repeat-x;
  background-color: #1f4461;
  font-family: verdana,arial,geneva;
  font-size: 11px;
  line-height: 18px;
  color: #333;
  margin: 0;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

th {
  text-align: left;
}

tr:nth-child(even) {
  background: #EEE;
}

td {
  padding: 1px 3px;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  padding: 0;
  margin: 20px auto;
  max-width: 1200px;
}

#header, #content, #footer, #nav,
#flash_notice, #flash_error, #flash_alert {
  margin: 0 0 0 240px;
  padding: 10px;
  border: 1px solid #CCC;
  background-color: #FFF;
  margin-bottom: 20px;
}

#header {
}

#nav {
  margin: 0px;
  width: 200px;
  max-height: 80%;
  overflow: auto;
  position: fixed;
}

#nav h4 {
  margin-bottom: 0;
}

#nav ul {
}

#nav li.topic {
  margin-top: 10px;
}

#nav ul > li > ul {
  list-style: disc inside;
}

#nav ul > li > form,
#nav ul > li > input {
  margin: 4px 0;
}

#content {
  min-height: 600px;
  border-left: 1px solid #CCC;
  overflow: hidden;
}

#footer {
  background-image: image-url("logo.gif");
  background-repeat:no-repeat;
  background-position: right;
  clear: both;
}  

#flash_notice {
  background-color: #CFC;
}

#flash_error, #flash_alert {
  background-color: #FCC;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

#header ul {
  padding-left: 0;
  overflow: hidden;
}

#header ul li {
  display: block;
  float: left;
  padding-right: 1em;
}

#header ul li:last-child {
  float: right;
  padding-right: 0;
}

#nav {
}

.show_for {
  overflow: hidden;
  margin-bottom: 20px;
}

.show_for > .wrapper {
  clear: both;
}

.show_for > .wrapper > .label,
.show_for > .wrapper > .content
{
}

.show_for > .wrapper > .label {
  font-weight: bold;
  float: left;
  width: 15em;
}

.show_for > .wrapper > .content {
  margin-left: 16em;
}

.printonly {
  display: none;
}

table.schedule {
  margin-bottom: 20px
}

table.schedule th, table.schedule td {
  width: 100px;
  text-align: center;
}

table.schedule th.time {
  width: 50px;
}

table.schedule td {
  margin: 0;
  padding: 0;
  text-align: middle;
}
table.schedule input {
}

table.schedule td.mark {
  background-color: #FFC;
}

table.schedule td.highlight {
  background-color: #CFC;
}

table.schedule td p {
  margin: 0;
  padding: 0;
}

form.schedule {
  float: left;
  margin: 15px;
}

form.schedule fieldset {
  border: 0;
  margin: 0;
  padding: 0 0 10px 0;
}

form.schedule h3 {
  margin: 0;
  font-size: 11px;
  line-height: 25px;
}

form.schedule div.mentor_select {
  float: left;
}

form.schedule div.mentor_select > * {
  display: block;
  width: 175px;
}
form.schedule div.mentor_select > label {
  height: 60px;
}

form.schedule div.mentor_select > select {
  height: 400px;
}

form.filter {
  overflow: hidden;
  clear: both;
}

form.filter > .filterfield {
  padding-right: 5px;
  float: left;
}

form.filter > .filterfield label{
  display: block;
}

.todoholder {
  overflow: hidden;
  display: none;
  .todo {
    display: block;
    float: left;
    background-color: yellow;
    padding: 3px;
    border: 1px solid #AAAA00;

    p.control {
      margin: 0;
      text-align: center;
    }
  }
}

// edit and delete buttons in journal overview of a kid
.journal .content.journal_buttons > * {
  float: left;
  margin-right: 15px;
}


